# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=nest_teplate
NODE_ENV="development"

# JWT Configuration (If you're using the constants we discussed earlier)
JWT_SECRET=a_very_long_and_secure_random_string_here